<!DOCTYPE html>

<head>

    <title>{{title}}</title>
</head>
<body>
    
    <h1>{{ title }}</h1>


        <ul>
            <li><img width="450px" src="/uploads/{{ car.image }}" alt="{{ car.brand }}"></li>
            <li><h3>Brand:{{ car.brand }}</h3></li>
            <li>Model: {{ car.model }}</li>
            <li>Color: {{car.color}}</li>
            <li>HorsePower: {{car.hp}}</li>
            <li>Gear box: {{car.gear_box}} </li>
            <li>Km: {{car.km}}</li>
            <li>Weight: {{car.weight}} </li>
            <li>Fuel: {{car.fuel}}</li>
            <li style="font-weight: bold; color:rgb(25, 139, 8)" >Price: {{car.price}}</li>
        </ul>

    <button><a href="/car/edit/{{ car.id }}">Edita el coche</a></button>

    <button><a href="/">Back to home</a></button>

</body>
</html>