<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>

    <h1>{{ title }}</h1>

    <form action="/car/create" method="POST" enctype="multipart/form-data">

        <div>
            <span>Brand</span>
            <input type="text" name="brand">
        </div>

        <div>
            <span>Model</span>
            <input type="text" name="model">
        </div>


        <div>
            <span>Color</span>
            <input type="text" name="color">
        </div>

        <div>
            <span>HorsePower</span>
            <input type="text" name="hp">
        </div>

        
        <div>
            <span>Gear Box</span>
            <select name="gear_box">
                <option value="handbook">
                    Handbook
                </option>
                <option value="automatic">
                    Automatic
                </option>
            </select>
        </div>


        <div>
            <span>Km</span>
            <input type="text" name="km">
        </div>

        <div>
            <span>Weight</span>
            <input type="text" name="weight">
        </div>

        <div>
            <span>Fuel</span>
            <input type="text" name="fuel">
        </div>

        <div>
            <span>Price</span>
            <input type="text" name="price">
        </div>


        <div>
            <span>Add image</span>
            <input type="file" name="image" accept="image/png, image/jpeg, image/jpg">
        </div>


        <input type="submit" value="Add Car">


    </form>


    <button><a href="/">Back to home</a></button>
</body>

</html>