<!DOCTYPE html>
<head>

    <title>{{title}}</title>
</head>
<body>
    
    <h1>{{ title }}</h1>

    {{#each cars }}
        <ul>
            <li> <a href="/car/{{ id }}"><h3>Brand:{{ this.brand }}</h3></a> </li>
            <li>Model: {{ this.model }}</li>
            <li>Color: {{this.color}}</li>
            <li>Fuel: {{this.fuel}}</li>
        </ul>
    {{/each}}


    <button><a href="/">Back to home</a></button>

</body>
</html>