<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    
    <h1>{{ title }}</h1>

    {{#each dealer }}
        <ul>
            <li>  <a href="/concessionaire/{{ id }}">Name:{{this.name}}</a> </li>
            <li>Locattion:{{this.locattion}} </li>

                

        </ul>
    {{/each}}

</body>
</html>