<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title}}</title>
</head>
<body>
    
   <h1>{{ title}} </h1>

   <ul>
       <li>Name:{{ dealer.name }}</li>
       <li>Locattion:{{dealer.locattion}}</li>
   </ul>

   
    {{#each dealer.cars }}
        <ul>
            <li> <a href="/car/{{ id }}"><h3>Brand:{{ this.brand }}</h3></a> </li>
            <li>Model: {{ this.model }}</li>
            <li>Color: {{this.color}}</li>
            <li>Fuel: {{this.fuel}}</li>
        </ul>
    {{/each}}


</body>
</html>