<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

</head>

<body>
    <h1 class="h1">Welcome to our Home Page made with HBS </h1>


    <a href="/register"> Registrate </a>
    <a href="/login"> Login </a>

    <nav>
        <form action="/user/logout" method="POST">
            <input type="submit" value="Logout"></input>
        </form>
    </nav>


    <div>
        <ul>
            <li><a href="/car">Cars list</a></li>
            <li><a href="/car/create">Add Car</a></li>
        </ul>
    </div>


</body>

</html>