<!DOCTYPE html>

<head>

    <title>{{ title }}</title>
</head>
<body>
    
    <form action="/user/register" method="POST" >

        <label >
            <span>Email</span>
            <input type="text" name="email" >
        </label>

           <label >
            <span>Password</span>
            <input type="password" name="password" >
        </label>

        <input type="submit" value="Register now">

        {{#if error}}

            <p style="color: red; font-size:18px;" >{{error}}</p>

        {{/if}}

    </form>

</body>
</html>